<div class="row text-center border border-dark">
    <div class="col">Name</div>
    <div class="col border-dark border-start">HP</div>
    <div class="col border-dark border-start">Attack</div>
    <div class="col border-dark border-start">Defense</div>
    <div class="col border-dark border-start">Special Attack</div>
    <div class="col border-dark border-start">Special Defense</div>
    <div class="col border-dark border-start">Speed</div>
</div>
<div class="row text-center border border-dark border-top-0">
    <div class="col">@Pokemon.Species</div>
    <div class="col border-dark border-start">@Pokemon.HP</div>
    <div class="col border-dark border-start">@Pokemon.Attack</div>
    <div class="col border-dark border-start">@Pokemon.Defense</div>
    <div class="col border-dark border-start">@Pokemon.SpecialAttack</div>
    <div class="col border-dark border-start">@Pokemon.SpecialDefense</div>
    <div class="col border-dark border-start">@Pokemon.Speed</div>
</div>
<div class="row text-center border border-dark border-top-0">
    <div class="col">IVs</div>
    <input class="col border-dark border-start form-control" type="number" min="0" max="31" @bind-value="Pokemon.IVs.HP" />
    <input class="col border-dark border-start form-control" type="number" min="0" max="31" @bind-value="Pokemon.IVs.Attack" />
    <input class="col border-dark border-start form-control" type="number" min="0" max="31" @bind-value="Pokemon.IVs.Defense" />
    <input class="col border-dark border-start form-control" type="number" min="0" max="31" @bind-value="Pokemon.IVs.SpecialAttack" />
    <input class="col border-dark border-start form-control" type="number" min="0" max="31" @bind-value="Pokemon.IVs.SpecialDefense" />
    <input class="col border-dark border-start form-control" type="number" min="0" max="31" @bind-value="Pokemon.IVs.Speed" />
</div>
<div class="row text-center border border-dark border-top-0">
    <div class="col">EVs</div>
    <input class="col border-dark border-start form-control" type="number" min="0" max="252" @bind-value="Pokemon.EVs.HP" />
    <input class="col border-dark border-start form-control" type="number" min="0" max="252" @bind-value="Pokemon.EVs.Attack" />
    <input class="col border-dark border-start form-control" type="number" min="0" max="252" @bind-value="Pokemon.EVs.Defense" />
    <input class="col border-dark border-start form-control" type="number" min="0" max="252" @bind-value="Pokemon.EVs.SpecialAttack" />
    <input class="col border-dark border-start form-control" type="number" min="0" max="252" @bind-value="Pokemon.EVs.SpecialDefense" />
    <input class="col border-dark border-start form-control" type="number" min="0" max="252" @bind-value="Pokemon.EVs.Speed" />
</div>
<div class="row text-center border border-dark border-top-0">
    <div class="col">Stages</div>
    <div class="col border-dark border-start">N/A</div>
    <input class="col border-dark border-start form-control" type="number" min="-6" max="6" @bind-value="Pokemon.Stages.Attack" />
    <input class="col border-dark border-start form-control" type="number" min="-6" max="6" @bind-value="Pokemon.Stages.Defense" />
    <input class="col border-dark border-start form-control" type="number" min="-6" max="6" @bind-value="Pokemon.Stages.SpecialAttack" />
    <input class="col border-dark border-start form-control" type="number" min="-6" max="6" @bind-value="Pokemon.Stages.SpecialDefense" />
    <input class="col border-dark border-start form-control" type="number" min="-6" max="6" @bind-value="Pokemon.Stages.Speed" />
</div>

@code {
    [Parameter]
    public required DataModel.StattedPokemon Pokemon { get; set; }
}
